<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?iconnect\.azistabst\.com [NC]
RewriteRule ^(.*)$ https://iconnect.azistabst.com/$1 [L,R=301]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?iconnect\.azistabst\.com [NC]
RewriteRule .* - [E=UPGRADE]
    <IfModule mod_headers.c>
        Header always set Content-Security-Policy "upgrade-insecure-requests;" env=UPGRADE
    </IfModule>
</IfModule>

RewriteEngine on

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://iconnect.azistabst.com/$1 [R,L]



